.App {
}
.table {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.cards {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.card {
  cursor: pointer;
}
.solved {
  font-size: 30px;
  color: red;
}
