.App {
}
.table {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.cards {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.card {
  width: 150px;
  height: 150px;
}
